@inherits LayoutComponentBase

<PageTitle>BlazorMvcLoginApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <form action="/Authentication/Logout" method="post">
                <button class="btn btn-outline-danger" type="submit">Logout</button>
            </form>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
